<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instrument Management - Mérieux NutriSciences</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" href="../static/css/properties.css" >
</head>
<body>
<ul>
                    <li role="presentation"><a class="button button2" href="/">Home</a></li>
                    <li role="presentation"><a class="button button2" href="/showSignin">Sign In</a>
                </ul>
<div class="header" align="center">
            <!--<h1 class="text-muted">Instrument Management - Mérieux NutriSciences</h1> -->
            <div style="text-align: left">
                <img src="../static/images/mxnslogo.jpg" style="text-align: left">
            </div>
    <p>Instrument Management</p>
        </div>
<div class="footer">
    <p>&copy; Designed and Maintained by LIMS Team , Lab Ops COE Mérieux NutriSciences</p>
</div>
</body>

</html>