<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instrument Management - Mérieux NutriSciences</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" href="../static/css/properties.css" >
</head>
<body>
<ul>
    <li role="presentation"><l class="button" href="/">Logout</l></li>
    <li role="presentation"><a class="button" href="/userHome">Home</a></li>
</ul>
<div class="header" align="center">
    <div>
            <div style="text-align: left">
                <img src="../static/images/mxnslogo.jpg" style="text-align: left">
            </div>
        </div>
    <p>Instrument Management</p>
        </div>
<div  align="center">
    <a class="button1" href="/dashboard"><span>DashBoard -1</span></a><br>
    <a class="button1" href="/showAddInstrument"><span>New Instrument</span></a><br>
    <a class="button1" href="/editInstrument"><span>Edit Instrument</span></a><br>
    <a class="button1" href="/viewInstruments"><span>View Instruments</span></a><br>
</div>
<div class="footer">
    <p>&copy; Designed and Maintained by LIMS Team , Lab Ops COE Mérieux NutriSciences</p>
</div>
</body>
</html>